<%- include('header') %> <!-- header.ejs 파일이 포함된다. -->
<div class="contents">
    <form id="form" action="/login" method="post" style="padding-bottom: 10px;">
        <div>
            <input type="id" name="id" class="input" placeholder="ID" required>
        </div>
        <div>
            <input type="password" name="pw" class="input" placeholder="PW" required>
        </div>
        <div style="display: flex; justify-content: space-around;">
            <button>로그인</button>
            <button onclick="location.href='/join'">회원가입</button>
        </div>
    </form>
</div>
<%- include('footer') %> <!-- footer.ejs 파일이 포함된다. -->